.Tempheaderbg {
    background: rgb(227, 227, 227);
    }
    .Tempheader {
        border-bottom: 1px;
        border-bottom-color: blue;
        border-bottom-right-radius: 2pc;
        border-bottom: 3px;
    }
    
     
     
      