.dualListBox {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      position: relative;
  }
  
  .leftList,
  .rightList {
    color: black;
    padding: 20px 0px 0px 0px;
    height: 415px;
    overflow-y: scroll;
  }
  /**Label Adjustment**/
  .LabelAdjustment {
    padding: 4px 0px 4px 0px;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 45px;
    position: absolute;
    top: 25%;
    right: 10%;
  }
  
  .button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .ul {
    list-style: none;
    padding: 0;
  }
  
  .label {
    display: block;
  }
  
  .btnTopSingle,
  .btnTopMulti {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  .btnBottomSingle,
  .btnBottomMulti {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
  /* Add more styling as needed */
  .DualArrowBtn {
    background: #198754;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
    transform: scale(1);
   
    transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99),
      transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99),
      -webkit-box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99)
   
      -webkit-transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
   
  }
  .DualArrowBtn:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1),
      8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
    transform: scale(1.02) translateY(-0.3rem);
    background:  #083621;
   
  }
  
  /* AssocDocAttr file FaEye css code */
  .FaEye {
    color: goldenrod;
    font-size: 26px;
  }
  
  /* AssocDocAttr file ToggleButton css code */
  .ToggleButton {
    font-size: 20px;
  }
  
  .attSearch{
    width: 80%;
  }
  .dualHead{
    
      background-color: #6431a7;
      
      box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .dualHeadFont{
  color: #ffffff;
    font-weight: 600;
  }
    
  input.checkStyle{
  width: 18px;
  height: 18px;
  }
  .parentList{
    position: relative;
  }
  input.radioStyle{
    width: 18px;
  height: 18px;
  position: absolute;
  right: 25%;
  top: 8px;
  }
  .AsDocForm{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #ffffff8c;
    padding: 15px;
  }